:root {
  --dark-blue: #363f5f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f5;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

html {
  font-size: 93.75%;
}

h2 {
  margin-top: 3.2rem;
  margin-bottom: 0.8rem;
  color: var(--dark-blue);
}

footer {
  color: rgba(255, 255, 255, 0.664);
  text-align: center;
  background-color: rgb(20, 143, 86);
  border-radius: 25% 25% 0 0;
  box-shadow: 0px 5px 5px rgba(153, 150, 150, 0.445);
  padding: 1.2rem;
  font-style: italic;
  position: relative;
  margin-top: 100px;
}

header {
  background-color: rgb(20, 143, 86);
  padding: 100px;
  border-radius: 0% 0% 25px 25px;
  box-shadow: 0px 5px 5px rgba(153, 150, 150, 0.445);
}

header h1 {
  color: rgba(255, 255, 255, 0.87);
  text-align: center;
  padding-bottom: 5rem;
  font-style: italic;
}

button {
  width: 100%;
  height: 50px;
  border: none;
  cursor: pointer;
  background-color: #fff;
  border-radius: 0.8rem;
}

button:hover {
  background-color: rgb(20, 143, 86);
  color: white;
}

.modal-overlay {
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.816);
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
}

.deletar {
  cursor: pointer;
}

.modal-overlay.active {
  opacity: 1;
  visibility: visible;
}

.modal {
  background-color: rgba(255, 255, 255, 0.904);
  padding: 2.4rem;
  position: relative;
}

#form {
  max-width: 500px;
  font-size: 1rem;
}

#form h2 {
  margin-top: 0;
}

#form form input {
  border: none;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.input-group {
  margin-top: 0.8rem;
}

.input-group small {
  opacity: 0.4;
}

.input-group.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input-group.actions .button,
.input-group.actions button {
  width: 48%;
}

.button.cancel {
  border: 1px solid red;
  color: red;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
}

.button.cancel:hover {
  background-color: red;
  color: white;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

a {
  color: rgb(20, 143, 86);
  text-decoration: none;
}

a:hover {
  color: rgb(27, 187, 112);
}

.new {
  display: inline-block;
  margin-bottom: 0.8rem;
}

.container {
  width: min(90vw, 800px);
  margin: auto;
}

.balance {
  margin-top: -8rem;
}

.balance h2 {
  color: rgb(255, 255, 255);
  margin-top: 0;
}

.card {
  background-color: rgb(255, 255, 255);
  padding: 2rem 2rem;
  border-radius: 0.55rem;
  margin-bottom: 1.5rem;
  color: var(--dark-blue);
}

.card p {
  font-size: 2rem;
  margin-top: 1rem;
}

.redCard {
  background-color: rgb(165, 53, 53);
  color: white;
}

.bluCard {
  background-color: rgb(53, 158, 165);
  color: white;
}

.card h3 {
  font-weight: normal;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card h3 img {
  width: 15%;
}

.green {
  color: white;
  background-color: rgb(16, 117, 70);
}

.data-table {
  color: rgba(0, 0, 0, 0.6);
  width: 100%;
  border-spacing: 0 0.5rem;
}

td img {
  cursor: pointer;
}

.transactions {
  display: block;
  width: 100%;
  overflow-x: auto;
}

table th {
  background-color: white;
  font-weight: normal;
  padding: 1rem 2rem;
  text-align: left;
}

table thead tr th:first-child,
table tbody tr td:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}

table thead tr th:last-child,
table tbody tr td:last-child {
  border-radius: 0 0.25rem 0.25rem 0;
}

table td {
  background-color: white;
  padding: 1rem 2rem;
}
table tr {
  opacity: 0.7;
}

table tr:hover {
  opacity: 1;
}

td.description {
  color: var(--dark-blue);
}

td.income {
  color: #12a454;
}

td.expense {
  color: #e92929;
}

@media (min-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .balance {
    gap: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  footer {
    margin-top: 410px;
  }
}
